@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007BFF;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  overflow: hidden;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #fff;
  cursor: default;
  border-bottom: 1px solid #ccc;
}

.suggestions > li:last-child {
  border-bottom: none;
}

.suggestions > li:hover {
  background-color: #007BFF;
  color: #fff;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event h3 {
  margin: 0 0 10px;
  color: #333;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
}

.details-btn:hover {
  background-color: #0056b3;
}
